.ui.raised.segment {
	margin: 0 auto;
	margin-top: 10vh;
	width: 800px;
	max-width: 95%;
	text-align: center;
}

body {
	background: #00204B;
	color: #881F52;
	overflow: hidden;
}

img {
	margin: 20px auto;
	padding: 10px;
	width: 600px;
	max-width: 90%;
}

@media only screen and (min-width: 600px) {
	.ui.raised.segment {
		margin: 0 auto;
		margin-top: 20vh;
	}
}

@media only screen and (min-width: 800px) {
	.ui.raised.segment {
		margin: 0 auto;
		margin-top: 20vh;
	}
}
